@page "/"
@using TechArtPortfolio.Layout.Models

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16" Style="margin-bottom: 120px;">

    <MudText Typo="Typo.h2" Class="mb-10" Align="Align.Center" Style="font-weight: 700; white-space: nowrap; min-width: max-content;" Color="Color.Primary">
        Micah Calis
    </MudText>

    <MudCard Elevation="0" Class="border-solid border-b-4 mud-border-secondary overflow-hidden my-8 rounded-lg">

        <img src="videos/PortfolioCover.webp" style="pointer-events: none; width: 100%; display: block;" />
    </MudCard>  

    <MudText Typo="Typo.body2" Color="Color.Primary" Class="d-block mt-2" Align="Align.Right" Style="opacity: 0.8; margin-right: 20px; margin-bottom: 40px">
        * Environment models and textures: Quixel
    </MudText>
    
    
    <MudGrid Class="mb-16" Justify="Justify.Center" AlignItems="AlignItems.Center">

        <MudItem xs="12" md="6" Class="d-flex flex-column justify-center">
            <MudText Typo="Typo.h4" Color="Color.Primary" Class="mb-4" Style="font-weight: 700;">
                About Me
            </MudText>
            <MudText Typo="Typo.body1" Color="Color.Tertiary" Style="line-height: 1.8;">
                Hi, I’m a shader-obsessed Technical Artist that loves developing unique real-time visuals. I am experienced with shading languages (HLSL, GLSL, Slang), Unity and C#. More recently, I have been working on a rendering engine with Vulkan and C++ for a stylized Watercolor Galaxy game.
            </MudText>
            <MudText Typo="Typo.body1" Color="Color.Tertiary" Style="line-height: 1.8;">
                Contact: calismicah@gmail.com
            </MudText>
            <div class="my-6">
                <MudButton Href="https://www.linkedin.com/in/micah-calis-994839229/"
                           Target="_blank"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           EndIcon="@Icons.Material.Filled.OpenInNew">
                    LinkedIn
                </MudButton>
            </div>
        </MudItem>

        <MudItem xs="12" md="4" Class="d-flex justify-center">
            <MudImage Src="images/ProfilePicture.png"
                      Alt="Micah Calis"
                      Elevation="0"
                      ObjectFit="ObjectFit.Cover"
                      Class="rounded-lg border-solid border-b-4 mud-border-secondary"
                      Style="pointer-events: none; width: 100%; max-width: 250px; height: 250px;"/>
        </MudItem>

    </MudGrid>

    <MudText Typo="Typo.h3" Class="mb-10" Align="Align.Center" Style="font-weight: 700;" Color="Color.Primary">
        Projects
    </MudText>

    <MudGrid Justify="Justify.Center" Spacing="4">
        @if (PortfolioData.Projects != null)
        {
            @foreach (var project in PortfolioData.Projects)
            {
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="0"
                             Class="border-solid border-b-4 mud-border-secondary hover-effect"
                             Style="cursor:pointer; transition: transform 0.2s;"
                             @onclick="() => GoToProject(project.Value.Id)">

                        <MudCardMedia Image="@project.Value.CoverImageUrl" Height="250"/>
                        <MudCardContent>
                            <MudText Typo="Typo.h6">@project.Value.Title</MudText>
                            <MudText Typo="Typo.body2" Color="Color.Primary">@project.Value.Tagline</MudText>
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            }
        }
    </MudGrid>
</MudContainer>

@code {
    [Inject] public NavigationManager Nav { get; set; }

    private void GoToProject(string id)
    {
        Nav.NavigateTo($"/project/{id}");
    }
}